.h3 {
  margin: 40px 0 0;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  display: inline-block;
  margin: 0 10px;
}

.a {
  color: #42b983;
}

*.hiddenelem {
  visibility: hidden;
}

*.invisibleElement {
  visibility: hidden;
}

.hidden {
  display: none;
}

#loadAnim {
  position: absolute;
  left: 400px;
  top: 150px;
  left: 450px;
}

.sk-wave {
  margin: 80px auto;
  width: 100px;
  height: 70px;
  text-align: center;
  font-size: 10px;
}

.sk-wave .sk-rect {
  background-color: #333;
  height: 100%;
  width: 8px;
  margin-left: 3px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

#display > * {
  pointer-events: none;
}
#display > p {
  padding-left: 0px;
  display: inline;
  line-height: 1.2;
  cursor: default;
  /*text-align: justify;*/
  padding-right: 5px;
  padding-bottom: 5px;
}
#display .activeDropzone {
  /*position:relative;*/
  outline: 3px dotted blue;
  pointer-events: auto;
}
#display input[type="text"],
#display textarea {
  border-radius: 5px;
  border: gray solid 1px;
  padding: 4px;
  pointer-events: auto;
}
#display textarea:focus,
#display input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  pointer-events: auto;
}
#display > .mouselistener {
  pointer-events: auto;
}

.pauseAnimation {
  animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
}

.playAnimation {
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important;
  -moz-animation-play-state: running !important;
  -o-animation-play-state: running !important;
}

.animatedChild {
  animation-play-state: inherit !important;
  -webkit-animation-play-state: inherit !important;
  -moz-animation-play-state: inherit !important;
  -o-animation-play-state: inherit !important;
}

.noAnimation {
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
}

#main {
  min-height: 850px;
  background-color: white;
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: 10px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.startArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full viewport height */
    margin: 0;
}
.startButton {
  padding: 10px 20px;
  font-size: 16px;
}

.main {
  min-height: 900px;
  background-color: white;
  margin-top: -20px;
  padding-top: 25px;
}

.placeholder50px {
  height: 50px;
}

body > .container {
  padding-bottom: 50px;
}

#message {
  display: none;
  position: absolute;
  font-size: x-large;
  width: 90%;
}
