<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Soile</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@latest/underscore-umd-min.js"></script>
    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <div id="display">
            <div id="loadAnim" class="hidden">
              <div class="sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
                <p>Loading</p>
              </div>
            </div>
            <p id="message"></p>
          </div>
        </div>

        <div class="col-md-9">
          <!-- <button data-dojo-type="dijit/form/Button" type="button" id="submitButton"> Next</button> -->
        </div>

        <div class="col-md-6 col-md-offset-3">
          <div class="progress"></div>
        </div>
      </div>
    </div>
  </body>
</html>
