.baklava-control {
    background-color: var(--baklava-control-color-background);
    color: var(--baklava-control-color-foreground);
    border-radius: var(--baklava-control-border-radius);
    transition: background-color var(--baklava-visual-transition);
    font-size: inherit;
    border: none;
    cursor: pointer;
  }